// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$header-bg: $color-primary;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

//RESPONSIVE BREAKPOINTS
$breakpoint-mobile: 23.5em; //375px
$breakpoint-small: 35.5em; //568px
$breakpoint-medium: 50em; //800px
$breakpoint-large: 62.5em; //1000px
$breakpoint-largest: 75em; //1200px

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: $breakpoint-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width: $breakpoint-small) {
    font-size: 45%;
  }
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  color: $color-grey-dark-2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template-rows: 80dvh min-content 40dvw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $breakpoint-large) {
    grid-template-rows: 6rem 80dvh min-content 40dvw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 14rem) [col-end]
      )
      [center-end] minmax(6rem, 1fr) [full-end];
  }
  @media only screen and (max-width: $breakpoint-medium) {
    grid-template-rows: 6rem calc(100dvh - 6rem) min-content max-content 40dvw repeat(
        3,
        min-content
      );
  }
}

::selection {
  color: $color-grey-light-1;
  background: $color-primary;
}
